In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Attribute DataSet.xlsx')

In [3]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
pd.read_excel(r'Attribute DataSetEdited.xlsx', sheet_name = 'rulu', header = None, names = ['A', 'B', 'C', 'D'])

       A    B     C      D
0  sddfd  fsg  sgdf  sdhfd
1     sg  aad   NaN    NaN
2    sdf  NaN   NaN    NaN
3     sg   sg    sh     sg
4   styr   sg   NaN    NaN
5     sg  NaN  ryrg    NaN
6     sg   sg   NaN    NaN

In [9]:
df.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0

In [10]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [11]:
pd.read_csv('haberman.csv', header = None, names = ['Age', 'No of patient\'s', 'No of Positive', 'Survival'])

     Age  No of patient's  No of Positive  Survival
0     30               64               1         1
1     30               62               3         1
2     30               65               0         1
3     31               59               2         1
4     31               65               4         1
..   ...              ...             ...       ...
301   75               62               1         1
302   76               67               0         1
303   77               65               3         1
304   78               65               1         2
305   83               58               2         2

[306 rows x 4 columns]

In [12]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [13]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BCF.csv')

           date  values.I2P  values.P2I  values.JPI
0    1996-04-01   -2.580556   -0.836444        63.3
1    1996-05-01   -2.882258   -1.972581        66.3
2    1996-06-01   -1.742778   -0.478778        59.7
3    1996-07-01   -0.397796   -1.574301        63.3
4    1996-08-01   -0.977151   -1.797312        63.8
..          ...         ...         ...         ...
112  2005-08-01   -2.144935   -1.646989        49.0
113  2005-09-01   -3.543270   -1.769889        49.9
114  2005-10-01   -4.500484   -2.309946        50.6
115  2005-11-01   -4.098556   -1.528611        57.4
116  2005-12-01   -5.797043   -2.872849        52.9

[117 rows x 4 columns]

In [14]:
a = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [15]:
type(a)

list

In [16]:
len(a)

1

In [17]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [18]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [19]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [20]:
js['user']

0     {'login': 'rhkarls', 'id': 2330659, 'node_id':...
1     {'login': 'SandroCasagrande', 'id': 22665904, ...
2     {'login': 'VHElise', 'id': 1756220, 'node_id':...
3     {'login': 'rzpan', 'id': 29119979, 'node_id': ...
4     {'login': 'JeffersonQin', 'id': 30655701, 'nod...
5     {'login': 'daviewales', 'id': 2499066, 'node_i...
6     {'login': 'mroeschke', 'id': 10647082, 'node_i...
7     {'login': 'james-d-f', 'id': 22453728, 'node_i...
8     {'login': 'BeRT2me', 'id': 54292304, 'node_id'...
9     {'login': 'bbizarro', 'id': 9373954, 'node_id'...
10    {'login': 'mroeschke', 'id': 10647082, 'node_i...
11    {'login': 'skrawcz', 'id': 2328071, 'node_id':...
12    {'login': 'attack68', 'id': 24256554, 'node_id...
13    {'login': 'Dr-Irv', 'id': 15113894, 'node_id':...
14    {'login': 'Codeberg-AsGithubAlternative-buhtz'...
15    {'login': 'dannyi96', 'id': 15380498, 'node_id...
16    {'login': 'weikhor', 'id': 36619387, 'node_id'...
17    {'login': 'seanslma', 'id': 30691708, 'node_id...
18    {'login': 'mroeschke', 'id': 10647082, 'node_i...
19    {'login': 'mroeschke', 'id': 10647082, 'node_i...
20    {'login': 'PriestlyAdejo', 'id': 108146732, 'n...
21    {'login': 'rhshadrach', 'id': 45562402, 'node_...
22    {'login': 'dannyi96', 'id': 15380498, 'node_id...
23    {'login': 'bherwerth', 'id': 108834862, 'node_...
24    {'login': 'StefRe', 'id': 19879328, 'node_id':...
25    {'login': 'windowshopr', 'id': 40477419, 'node...
26    {'login': 'bzhaoopenstack', 'id': 11386522, 'n...
27    {'login': 'PriestlyAdejo', 'id': 108146732, 'n...
28    {'login': 'GivyBoy', 'id': 58392771, 'node_id'...
29    {'login': 'mattB1989', 'id': 13086632, 'node_i...
Name: user, dtype: object

In [21]:
js['user'][0]

{'login': 'rhkarls',
 'id': 2330659,
 'node_id': 'MDQ6VXNlcjIzMzA2NTk=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/2330659?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/rhkarls',
 'html_url': 'https://github.com/rhkarls',
 'followers_url': 'https://api.github.com/users/rhkarls/followers',
 'following_url': 'https://api.github.com/users/rhkarls/following{/other_user}',
 'gists_url': 'https://api.github.com/users/rhkarls/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/rhkarls/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/rhkarls/subscriptions',
 'organizations_url': 'https://api.github.com/users/rhkarls/orgs',
 'repos_url': 'https://api.github.com/users/rhkarls/repos',
 'events_url': 'https://api.github.com/users/rhkarls/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/rhkarls/received_events',
 'type': 'User',
 'site_admin': False}

In [22]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [23]:
df.to_json('test1234.json')

In [24]:
pwd

'C:\\Users\\atsuy'

In [26]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [29]:
df.to_csv("D://Attritest123.csv")

In [30]:
pwd

'C:\\Users\\atsuy'

In [ ]:
"""Mysql :
    1. create a table for attribute datset and dress dataset.
    2. Do a bulk load for theses two table for respective dataset.
    3. Read these dataset in pandas as a dataframe
    4. COnvert attribute dataset ub json format.
    5. Store these dataset into mongodDB.
    6. In sql task try to perform left join operation with attribute dataset and dress dataset in column Dress_ID.
    7. Write a sql query to find out how many unique dress that we have based on dress ID.
    8. Try to find out how many dress is having recommendation 0.
    9. Try to find out tatal dress sale for individual dress ID.
    10. Try to find out the third highest most selling dress ID.
    """

In [4]:
df1 = pd.read_excel(r'Dress Sales.xlsx')

In [5]:
df1

,Dress_ID,29/8/2013,31/8/2013,2013-02-09 00:00:00,2013-04-09 00:00:00,2013-06-09 00:00:00,2013-08-09 00:00:00,2013-10-09 00:00:00,2013-12-09 00:00:00,14/9/2013,...,24/9/2013,26/9/2013,28/9/2013,30/9/2013,2013-02-10 00:00:00,2013-04-10 00:00:00,2013-06-10 00:00:00,2010-08-10 00:00:00,2013-10-10 00:00:00,2013-12-10 00:00:00
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119,3204,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558,1756,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10,10,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723,1746,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638,1655,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,0,0,0,560,554,544,537,525,519,...,400,388.0,360,364.0,372.0,377.0,380,382.0,384.0,285
496,722565148,0,0,0,875,866,861,854,850,844,...,859,866.0,882,888.0,895.0,898.0,906,913.0,919.0,931
497,532874347,0,0,0,734,728,726,715,694,690,...,616,597.0,586,569.0,561.0,555.0,551,546.0,535.0,520
498,655464934,0,0,0,254,259,261,263,268,270,...,257,256.0,255,254.0,253.0,250.0,249,249.0,249.0,248
499,919930954,0,0,0,538,545,558,563,578,585,...,628,632.0,639,645.0,651.0,655.0,660,668.0,674.0,680

In [6]:
df1.to_csv("D://dresssales.csv")